body{
    margin: 0;
}

#header {
    height: 80px;
    width : 100%;
    display: flex;
    justify-content: space-between;
}
#logo{
    margin : 20px 40px;
    font-size: 30px;
    font-weight: bold;
    font-family: "Trebuchet MS", Dotum, Arial; 
    text-decoration:none;  
    display: block;   
    color: black; 
}

#topMenu ul li {     
    list-style: none;         
    color: white;         
    float: left;             
    line-height: 30px;       
    vertical-align: middle;   
    text-align: center;
    margin-right: 40px;    
}

#topMenu .menuLink {                  
    text-decoration:none;             
    display: block;
    color : black;                   
    width: 150px;    
    font-size: 20px;  
    font-weight: bold;  
    font-family: "Trebuchet MS", Dotum, Arial; 
}
#topMenu .menuLink:hover {
    color: #514F4F;
}

#content {
    clear: left;
    margin: 50px;
}

#footer {
    width: auto;
    background-color: #D9D9D9;
    font-family: "Trebuchet MS", Dotum, Arial; 
    display: flex;
    justify-content: space-between;
    padding: 32px 80px;
}
#footer p {
    font-weight: bold;
}
.copyright {
    flex-direction: column;
}
#info{
    font-size: 13px;
}
#info .material-symbols-rounded{
    font-size: 13px;
}
#email{
    background-color: #909090;
    width: 180px;
    height: 25px;
    border-radius: 10px;
    color: white;
    font-family: "Trebuchet MS", Dotum, Arial; 
    margin: 5px;
    outline: 0;
    border:0;
    padding-left: 10px; 
}
#email::placeholder{
    color : white;
    font-family: "Trebuchet MS", Dotum, Arial;
    padding-left: 10px; 
}
#email:focus {
    outline: 3px solid #514F4F;
}
#message{
    background-color: #909090;
    width: 180px;
    height: 80px;
    border-radius: 10px;
    color: white;
    font-family: "Trebuchet MS", Dotum, Arial; 
    margin: 5px;
    outline: 0;
    border:0;
    padding-left: 10px; 
}
#message::placeholder{
    color : white;
    font-family: "Trebuchet MS", Dotum, Arial;
    padding-left: 10px; 
}
#message:focus {
    outline: 3px solid #514F4F;
}
#send{
    width: 60px;
    height: 25px;
    border: 0px;
    border-radius: 10px;
    background-color: #514F4F;
    color : white;
    font-family: "Trebuchet MS", Dotum, Arial;
    font-weight: bold;
    text-align: center;
}